 {% extends 'base1.html' %}
{% block content %}
{% load friendshiptags %}
<div class="section-header text-center" style="margin-top:5px; ">
    <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Here is your profile</h2>
    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
  </div>
  <div class="container1" style="height: fit-content;width:500px;">       
<h5 style="color: black">Welcome {{ user.username }}</h5>
<!-- <div class="w3-container" style="color:black"></div> -->

<table id="customers">

            <tr>
                <th>List of students joined you</th>
               
            </tr>
            
            <tr>
                <td style="color: black">{% get_by_name friendship_context_object_name as var %}
                {% friends var %}</td>
                
            </tr>
           
        </table>
</div>
    </div>
    {% endblock %}


