{% extends 'layout.html' %}
{% block content %}
<div class="section-header text-center">
    <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Password reset complete</h2>
    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
  </div>
  <div class="container1">

<p style="color: black">Your new password has been set. You can log in now on the <a href="{% url 'login' %}"><button type="submit"  style="background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;">log in page</button></a></p>
  </div>
{% endblock %}
