
{% extends 'base2.html' %}
{% block content %}
<div class="section-header text-center" style="margin-top:5px; ">
    <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Say Hi to teachers</h2>
    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
  </div>
  <div class="container1" style="height: fit-content;width:400px;">       
<h5 style="color: black">Welcome {{ user.username }}</h5>
<div>
 {% for users in dataa %}
<ul>
<li style="color:firebrick;">{{ users.sender }}:</li>
<li style="margin-left: 70px;
    color: black;
    background-color: darkcyan;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 19px;
    width: fit-content;height:fit-content;">{{ users.msg }}</li>
      <li>{{ users.timestamp }}</li>
</ul>
{% endfor %}
</div> 
<div>




<form method="post">
{% csrf_token %}

{{ form.as_p }}


</div>
<input type="submit" value="send" />
</form>


</div>
    </div>
    {% endblock %}
